body {
	background-color: #FFFFFF;
}
tbody, th, td {
	text-align: center;
	vertical-align: middle;
}
h1 {
	color: #FFFFFF;
}

.panel-primary>.panel-heading,.title {
	background-color: #4e5ca7;
}
.btn, .btn-xs {
	background-color: #4e5ca7;
}
.submit-button {
	float:right;
	background-color:#678816;
}

.help-button {
	float:right;  
	background-color:#808080;
}
.container {
	width: 100%;
}
.row {
	margin-top: 1%;
}
.row-episode
{
	height: 70%;
}
.full-panel
{
	background-color: #EFEDE3;
	overflow: auto;
	height: 100%;
	margin-top: 1%;
}
.main-section {
	overflow: hidden;
}
.main-panel {
	height: 42%;
	background-color: #EFEDE3;
	overflow: auto;
}
.marker-main-panel {
	height: 90%;
}
.col-full {
	height: 100%;
}
.col-admin {
	height: 80%;
}
.col-admin-short {
	height: 15%;
	margin-top: 1%;
}
.submission-panel {
	background-color: #EFEDE3;
	overflow: auto;
	height: 80%;
	margin-top: 2%;
}
.submission-row {
	margin-right: 5%;
	margin-left: 5%;
}
.submission-table {
	font-size: 14px;
}
.col-checkbox {
	width: 15%;
}
.table-episode {
	width: 100%;
}
.panel-episode p{
	float: right;
}
.table-practicum {
	height: 100%;
	background-color: #EFEDE3
}
.table-practicum-title {
	width: 25%;
}
.table-practicum tbody tr td {
	vertical-align: middle;
}
.table-competencies {
	background-color: #EFEDE3;
	overflow: auto;
}
.btn-group-bottom {
	text-align: center;
	display: block;
	margin-bottom: 1%;
}
.glyphicon-paperclip, .glyphicon-ok {
	color: #678816;
}
.glyphicon-remove {
	color: #e42313;
}
.progress-bar {
	background-color: grey;
}
.competency-link {
	float: right;
}
.competency-link .glyphicon-paperclip {
	color: #FFFFFF;
}
.toolbar-custom {
	margin: 0.5%;
}
.ql-custom {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    vertical-align: middle;
    background-color: #fff;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    border: 1px solid transparent;
    cursor: pointer;
    position: relative;}
._1.1:hover {

}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text);
}








