<div class="section title">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Career Episode 1
						<button class='btn btn-primary help-button' href=""><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></button>
					</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row row-episode">
				<div class="col-md-3">
					<p></p>
					<div class="panel panel-primary full-panel">
						<div class="panel-heading title">
							<h3 class="panel-title">Mappings</h3>
						</div>
						<div class="panel-body">
						</div>
					</div>
					<p></p>
				</div>
				<div class="col-md-6">   
					<p></p>
					<div class="panel panel-primary full-panel">
						<div class="panel-heading title">
							<h3 class="panel-title panel-episode">Report<p>Associated Practicum Entry: <a href="#practicum">Practicum Entry 1</a></p></h3>
						</div>
						<div class="panel-body">
						</div>
					</div>
					<p></p>
				</div>
				<div class="col-md-3">   
					<p></p>
					<div class="panel panel-primary full-panel">
						<div class="panel-heading title">
							<h3 class="panel-title">Comments</h3>
						</div>
						<div class="panel-body">
						</div>
					</div>
					<p></p>
				</div>
			</div>
			<tr>
			<td>
			<p>Artefacts:
				<span class="glyphicon glyphicon-paperclip" aria-hidden="true">Attachment1 </span>
				<span class="glyphicon glyphicon-paperclip" aria-hidden="true">Attachment2 </span>	
			</p>
			</td>
		</tr>
			<div>
				<div class="panel panel-primary table-competencies">
						<div class="panel-heading title">
							<h3 class="panel-title">Competency Mappings</h3>
						</div>
						<div class="panel-body">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>1.1</th>
										<th>1.2</th>
										<th>1.3</th>
										<th>1.4</th>
										<th>1.5</th>
										<th>1.6</th>
										<th>2.1</th>
										<th>2.2</th>
										<th>2.3</th>
										<th>2.4</th>
										<th>3.1</th>
										<th>3.2</th>
										<th>3.3</th>
										<th>3.4</th>
										<th>3.5</th>
										<th>3.6</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
			</div>
		</div>
	</div>
	<div class="btn-group-bottom">
			<a class="btn btn-primary" href="#student">Return to Home</a>				
</div>
