	<div class="section title">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Practicum Entry 1
							<button class='btn btn-primary help-button' href=""><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></button>
					</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary submission-panel" style="background-color:#EFEDE3; overflow: auto; height:80%; margin-top:2%">
						<table class="table">
							<tbody>
								<tr>
									<td class="table-practicum-title"><b>Placement Name</b></td>
									<td style="vertical-align:middle">IBM Perth</td>
								</tr>
								<tr>
									<td class="table-practicum-title"><b>Placement Start</b></td>
									<td style="vertical-align:middle">01/12/2015</td>
								</tr>
								<tr>
									<td class="table-practicum-title"><b>Placement End</b></td>
									<td style="vertical-align:middle">07/12/2015</td>
								</tr>
								<tr>
									<td class="table-practicum-title"><b>Placement Description</b></td>
									<td style="vertical-align:middle">IBM Student Work Experience Program - Week long group AI project and presentation</td>
								</tr>
								<tr>
									<td class="table-practicum-title"><b>Placement Type</b></td>
									<td style="vertical-align:middle; align:center">Workplace Practicum
									</td>
								</tr>
								<tr>
									<td class="table-practicum-title"><b>Hours Accrued</b></td>
									<td style="vertical-align:middle">37</td>
								</tr>
								<tr>
									<td class="table-practicum-title"><b>Supervisor Name and Position</b></td>
									<td style="vertical-align:middle">John Smith, Senior Developer</td>
								</tr>
								<tr>
									<td class="table-practicum-title"><b>Certificate of Work</b></td>
									<td style="vertical-align:middle;">
									</td>
									<tr>
									<td class="table-practicum-title"><b>Associated Career Episodes</b></td>
									</td>
									<td style="vertical-align:middle"><a href="#episode">Career Episode 1</a></td>
								</tr>
								</tr>
							</tbody>
						</table>
					</div>
					 <div class="btn-group-bottom">
					<a class="btn btn-primary" href="#home">Return to Home</a>	
			</div>		
		</div>
	</div>
</div>

							