d<div class="section title">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Marking Submission
						<button class='btn btn-primary help-button' href=""><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></button>
				</h1>
			</div>
		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-primary submission-panel">
					<div class="row submission-row">
						<div class="col-md-12">
							<h3>Marking Details</h3>
						</div>
					</div>
					<div class="row submission-row">
						<div class="col-md-12">
							<p>Have the following criteria been met?</p>
						</div>
					</div>
					<div class="row submission-row">
						<div class="col-md-3">
						</div>
						<div class="col-md-6">
							<div class="col-md-12">
								<table class="table sumbission-table">
									<tr>
										<td>Student has submitted three to five career episodes</td>
										<td><input class="check" type="checkbox"></input></td>
									</tr>
									<tr>
										<td>All career episodes are completed to a sufficient standard</td>
										<td><input class="check" type="checkbox"></input></td>
									</tr>
									<tr>
										<td>All 16 competencies have been sufficiently demonstrated</td>
										<td><input class="check" type="checkbox"></input></td>
									</tr>
									<tr>
										<td>Required number of practicum hours have been completed</td>
										<td><input class="check" type="checkbox"></input></td>
									</tr>
									<tr>
										<td>Certificates of work have been included for all practicum placements</td>
										<td><input class="check" type="checkbox"></input></td>
									</tr>
									<tr>
										<td>Certificates of work have been included for all practicum placements</td>
										<td><input class="check" type="checkbox"></input></td>
									</tr>
									
								</table>
							</div>
						</div>
						<div class="col-md-3">
						</div>
					</div>
					<div class="row submission-row">
						<div class="col-md-12">
							<h3>Additional Comments</h3>
							<input class="table-episode" type="text"></input>
								<br>
								<br>
								<br>

					<div class="btn-grp-bottom">
						<a class="btn btn-primary" href="#student">Cancel</a>
						<a class="btn btn-primary" id="submitButton" onclick="check()" href="#student">Submit</a>	
				
				</div>		
					
			</div>
		</div>
	</div>
</div>
<script>
	function check()
	{
		$('.check').each(function(){
			$i=0;
			if($(this).prop('checked'))
			{
				$i++
			}
		});
		if($i<3 || $i>5)
		{
			alert("Please submit between 3 and 5 career episodes");
		}

	}
</script>
							