<div class="section title">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>EPortfolio Home Page
						<button class='btn btn-primary help-button' href=""><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></button>
						<a class='btn btn-primary submit-button' href="#submission">Submit Marking</a>
				</h1>
			</div>
		</div>
	</div>
</div>
<div class="section col-full">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-primary main-panel">
					<div class="panel-heading title">
						<h3 class="panel-title">Practicum Entries</h3>
					</div>
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Practicum Entry</th>
									<th>Type of Experience</th>
									<th>Accrued Hours</th>
									<th>Certificate of Work</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat = "practicumEntry in student.practicumEntries">
									<td><a href="#practicum">{{practicumEntry.placementName}}</a></td>
									<td>{{practicumEntry.experienceType}}</td>
									<td>{{practicumEntry.hours}}</td>
									<td><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="panel panel-primary main-panel">
					<div class="panel-heading title">
						<h3 class="panel-title">Competencies Summary</h3>
					</div>
					<div class="panel-body">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Competency</th>
									<th>Report 1</th>
									<th>Report 2</th>
									<th>Report 3</th>
									<th>Report 4</th>
									<th>Report 5</th>
								</tr>
							</thead>
							<tbody>	
								<tr >
									<td>1.1</td>
									<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>1.2</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>1.3</td>
									<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>1.4</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>1.5</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>1.6</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>2.1</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>2.2</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>2.3</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>2.4</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>3.1</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>3.2</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>3.3</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>3.4</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>3.5</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>3.6</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-primary main-panel">
					<div class="panel-heading title">
						<h3 class="panel-title">Progress</h3>
					</div>
					<div class="panel-body">
						<h4>Hours Completed</h4>
						<div class="progress">
							<div class="progress-bar" role="progressbar" style="width: 60%;">60% Complete</div>
						</div>
						<h4>Competencies Completed</h4>
						<div class="progress">
							<div class="progress-bar" role="progressbar" style="width: 60%;">60% Complete</div>
						</div>
						<table class="table borderless">
							<tbody>
								<tr>
									<td>Hours Completed</td>
									<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
									<td>Competencies Completed</td>
									<td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
								</tr>

								<tr>
									<td>CV Uploaded </td>
									<td>
									<a class="btn btn-xs btn-primary" href="">View CV</a>
									</td>
									<td>Career Episodes Completed</td>
									<td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="panel panel-primary main-panel">
					<div class="panel-heading">
						<h3 class="panel-title">Career Episodes</h3>
					</div>
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Career Episode</th>
									<th>Competencies Included</th>
									<th>Selected for Submission</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat = "careerEpisode in student.careerEpisodes">
									<td><a href="#episode">{{careerEpisode.episodeName}}</a></td>
									<td>{{careerEpisode.competencies}}</td>
									<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>






