<div class="section title">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>EPortfolio Marking Overview
						<button class='btn btn-primary help-button' href=""><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></button>
				</h1>
			</div>
		</div>
	</div>
</div>
<div class="section marker-main-panel">
	<div class="container">
		<div class="col-md-12 col-full">
				<div class="panel panel-primary full-panel">
					<div class="panel-heading title">
						<h3 class="panel-title">Currently Assigned Students</h3>
					</div>
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Student Id</th>
									<th>Submitted</th>
									<th>Marking Submitted</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="#student">300000</a></td>
									<td>12/10/2015</td>
									<td></td>
								</tr>
								<tr>
									<td><a href="#student">300001</a></td>
									<td>01/11/2015</td>
									<td>04/12/2015</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>									
	</div>
</div>
	
<script>
$('#episodeChecked').change(function() {
	if($('#episodeChecked').prop('checked'))
	{
		$('.glyphicon-ok').show();
	}
	else
	{
		$('.glyphicon-ok').hide();
	}
});
</script>




