<div class="section title">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>ePortfolio Home Page for {{student.userFirstName}} {{student.userLastName}}
						<a class='btn btn-primary submit-button' href="#submission">Submit</a>
						<a class='btn btn-primary help-button' href="{{helpUrl}}" target="_blank">Help</a>
						<button class="btn btn-primary help-button" id="uploadCV">Upload CV</button>
						<button class="btn btn-primary help-button" id="exportCV">Export to PDF</button>
				</h1>
				
			</div>
		</div>
	</div> 
</div>
	<div id="failedSubmitModal" class="modal" role="dialog">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-body">
	        <p>Please note that not all criteria have been met for portfolio submission and documents downloaded should be taken as draft version only.</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Accept</button>
	      </div>
	    </div>

	  </div>
	</div>
	<div id="cvModal" class="modal" role="dialog">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    	<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal">&times;</button>
        		<h4 class="modal-title">Upload CV</h4>
      		</div>
		      <div class="modal-body">
		        <input file-model="myFile" type="file" class="form-control" id="attachment">
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" id="uploaded">Upload</button>
		      </div>
    	</div>

	  </div>
	</div>
<div style="display:none" id="hiddenExport"></div>
<div class="section main-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">

				<div class="panel panel-primary main-panel">
					<div class="panel-heading">
						<h3 class="panel-title">Competencies Summary
						<a class="competency-link" href="{{eaUrl}}" target="_blank"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> EA Competencies (PDF)</a>
					</h3>
					</div>
					<div class="panel-body">
						<table class="table table-bordered">
							<thead>
									<th>Competency</th>
									<th ng-repeat="ce in careerEpisodes"><a href="#episode/{{student.userId}}/{{ce.value.entryNumber}}/{{ce.key.episodeNumber}}">
									{{ce.key.episodeName}}</a></th>
							</thead>
							<tbody >	
								<tr ng-repeat="c in competencies">
									<td>{{c.competencyNumber}}</td>
									<td ng-repeat="cs in careerEpisodes"><span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="mapping[{{cs.key.id}}][{{c.competencyNumber}}]==true"></span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="panel panel-primary main-panel">
					<div class="panel-heading">
						<h3 class="panel-title">Practicum Entries</h3>
					</div>
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Practicum Entry</th>
									<th>Type of Experience</th>
									<th>Accrued Hours</th>
									<th>Certificate of Work</th>
								</tr>
							</thead>
							<tbody id='practicumEntryTable'>
								<tr ng-repeat = "practicumEntry in entries">
									<td><a href="#practicum/{{student.userId}}/{{practicumEntry.entryNumber}}">{{practicumEntry.entryName}}</a></td>
									<td>{{practicumEntry.entryType}}</td>
									<td>{{practicumEntry.entryHoursAccrued}}</td>
									<td><a href="{{practicumEntry.entryAttachments[0].attachmentFileURL}}"><span class="glyphicon glyphicon-paperclip" aria-hidden="true" ng-show="practicumEntry.entryAttachments.length>0"></a>
									</span><span ng-show="practicumEntry.entryAttachments.length==0">No attachments</span></td>
									<td><a class="btn btn-primary btn-xs" href="#episode/{{practicumEntry.entryNumber}}">Add Career Episode</a></td>
								</tr>
							</tbody>
						</table>
						<a class="btn btn-primary" href="#practicum">Add New Practicum Entry</a>
					</div>
				</div>
			</div>
			<!-- TODO: remove remove hard coding for progress -->
			<div class="col-md-6">
				<div class="panel panel-primary main-panel">
					<div class="panel-heading">
						<h3 class="panel-title">Progress</h3>
					</div>

					<div class="panel-body">
						<div class="col-xs-6">
						<h4>Category 1 Hours Completed: {{hours}}</h4>
						<div class="progress">
							<div class="progress-bar" role="progressbar" style="width: {{hoursPercent}}%">{{hoursPercent}}% Complete</div>
						</div>

						</div>
						<div class="col-xs-6">
						<h4>Total Hours Completed: {{totalHours}}</h4>
						<div class="progress">
							<div class="progress-bar" role="progressbar" style="width:{{totalHoursPercent}}%">{{totalHoursPercent}}% Complete</div>
						</div>
						</div>
						<div class="col-xs-12">
						<h4>Competencies Completed: {{competenciesCompleted}}</h4>
						<div class="progress">
							<div class="progress-bar" role="progressbar" style="width:{{competenciesCompletedPercent}}%">{{competenciesCompletedPercent}}% Complete</div>
						</div>
						</div>
						<table class="table borderless">
							<tbody>
								<tr>
									<td>Hours Completed</td>
									<td><span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="hoursPercent==100"></span>
									<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="hoursPercent<100">
									</span></td>
									<td>Competencies Completed</td>
									<td><span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="competenciesCompletedPercent>=100">
									</span><span class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="competenciesCompletedPercent<100">
									</span></td>
								</tr>

								<tr>
									<td>CV Uploaded </td>
									<td>
									<a href="{{resumeLink}}">{{resumeName}}</a> 
									</td>
									<td>Category 1 Hours Completed</td>
									<td><span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="hoursPercent>=100"></span>
									<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="hoursPercent<100">
									</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="panel panel-primary main-panel">
					<div class="panel-heading">
						<h3 class="panel-title">Career Episodes</h3>
					</div>
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Career Episode</th>
									<th>Associated Portfolio Entry</th>
									<th>Competencies Included</th>
									<th>Selected for Submission</th>
								</tr>
							</thead>
							<tbody  id="CEtable">
								<tr ng-repeat = "careerEpisode in careerEpisodes">
									<td><a href="#episode/{{student.userId}}/{{careerEpisode.value.entryNumber}}/{{careerEpisode.key.episodeNumber}}">{{careerEpisode.key.episodeName}}</a></td>
									<td> {{careerEpisode.value.entryName}}</td>
									<td><span ng-repeat="competency in careerEpisode.key.episodeCompetencies">{{competency.competencyNumber}}{{$last ? '' : ', '}}</span></td>
									<td class="col-checkbox">
								      <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="careerEpisode.key.episodeSelected==true">
									</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>