<div class="section title">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Portfolio Submission
						<button class='btn btn-primary help-button' href=""><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></button>
				</h1>
			</div>
		</div>
	</div>
</div>
<div style="display:none" id="hiddenExport"></div>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-primary submission-panel">
					<div class="row submission-row">
						<div class="col-md-12">
							<h3>Submission Details</h3>
						</div>
					</div>
					<div class="row submission-row">
						<div class="col-md-12">
							<h4>Career Episodes Selected for Submission</h4>
						</div>
					</div>
					<div class="row submission-row">
						<div class="col-md-2">
						</div>
						<div class="col-md-8">
							<div class="col-md-12">
								<table class="table submission-table">
									<tr ng-repeat="ce in careerEpisodes">
										<td><b>{{ce.key.episodeName}}</b></td>
										<td><i>Associated Practicum Entry: {{ce.value.entryName}}</i></td>
									</tr>
								</table>
							</div>
						</div>
						<div class="col-md-2">
						</div>
					</div>
					<div class="row submission-row">
						<div class="col-md-12">
							<h4>Submission Requirements Satisfied</h4>
						</div>
					</div>
					<div class="row submission-row">
						<div class="col-md-2">
						</div>
						<div class="col-md-8">
							<table class="table submission-table">
									<tr>
										<td>3-5 Career Episodes Selected</td>
										<td><span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="careerEpisodes.length>=3&&careerEpisodes.length <=5"></span>
											<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="careerEpisodes.length<3 || careerEpisodes.length >5"></span></td>
									</tr>
									<tr>
										<td>Category 1 Hours Completed</td>
										<td><span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="hoursPercent>=100"></span>
											<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="hoursPercent<100"></span></td>
									</tr>
									<tr>
										<td>Total Practicum Hours Completed</td>
										<td><span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="totalHoursPercent>=100"></span>
											<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="totalHoursPercent<100"></span></span></td>
									</tr>
									<tr>
										<td>Competencies completed</td>
										<td><span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="competenciesCompletedPercent==100"></span>
											<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="competenciesCompletedPercent<100"></span></td>
									</tr>
									<tr>
										<td>CV uploaded</td>
										<td><span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="resumeLink!=''"></span>
											<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="resume==''"></span></span>
										</td>
									</tr>
									<tr>
										<td>Certificates of Work Attached</td><td><span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="workCertificates==true"></span>
											<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="workCertificates==false"></span></span>
										</td>
									</tr>
								</table>
						</div>
						<div class="col-md-2">
						</div>
					</div>
					<div id="failedSubmitModal" class="modal" role="dialog">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-body">
					        <p>Please ensure all submission requirements have been satisfied prior to submitting.</br>Your portfolio has not been submitted.</p>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
					      </div>
					    </div>

					  </div>
					</div>
					<div id="successfulSubmitModal" class="modal" role="dialog">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-body">
					        <p>A download of your Practicum Entries and Career Episode Reports will now commence for you to submit via LMS. Please remember to download your Work Certificates, additional attachments and CV separately to include in the submission.</p>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
					      </div>
					    </div>

					  </div>
					</div>
					<div class="row submission-row">
						<div class="col-md-12">
							<h3>Submission Declaration</h3>
							<p>	I am aware of the University's policy on academic conduct and I declare that this portfolio is my own work entirely and that suitable acknowledgement has been made for any sources of information used in preparing it. I have retained a hard copy for my own records.<p>
								<br>

					<div class="btn-group-bottom">
						<a class="btn btn-primary" href="#home/{{studentId}}">Cancel</a>
						<a class="btn btn-primary" id="submitButton" ng-click="check()">Submit</a>	
				
				</div>		
					
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	
</script>
							