<div class="section title">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1><p id="episodeTitle"></p>{{episodeName}}
						<button class='btn btn-primary help-button' href="" style="margin-bottom:1%"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></button>
				</h1>
			</div>
		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		<div class="row row-episode">
			<div class="col-md-12">   
				<p></p>
				<div class="panel panel-primary full-panel">
					<div class="panel-heading title">
						<h3 class="panel-title panel-episode">Report<p>Associated Practicum Entry: <a href="#practicum/{{studentId}}/{{practicumNumber}}">{{practicumName}}</a></p></h3>
					</div>
					<div id="deleteAttachmentModal" class="modal" role="dialog">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-body">
					        <p>Do you want to permanently delete this attachment?</p>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" id="attachmentDelete" data-dismiss="modal">Yes</button>
					        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					      </div>
					    </div>

					  </div>
					</div>
					<div id="deleteModal" class="modal" role="dialog">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-body">
					        <p>Do you want to permanently delete this career episode?</p>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" id="episodeDelete" data-dismiss="modal">Yes</button>
					        <button type="button" class="btn btn-default" id="episodeDeleteCancel" data-dismiss="modal">No</button>
					      </div>
					    </div>

					  </div>
					</div>
					<div id="saveModal" class="modal" role="dialog">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-body">
					        <p>Entry has been saved</p>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" id="episodeSave" data-dismiss="modal">Ok</button>
					      </div>
					    </div>
					  </div>
					</div>
					<div id="validationModal" class="modal" role="dialog">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-body">
					        <p>Please enter a title for this career episode before saving</p>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" id="episodeSave" data-dismiss="modal">Ok</button>
					      </div>
					    </div>
					  </div>
					</div>
 					<div class="panel-body" id="reportBody">		
 						<table style="width:100%; margin-bottom:2%">
							<tbody>
								<tr>
									<td style="font-style:italic;">Edit title</td>
									<td style="width:50%"><input type="text" class="form-control" id="episodeName" ng-model="episodeName"></input></td>
									<td id="wordCount">Word Count: 0</td>
									<td><button class="btn btn-primary btn-sm" id="add" style="margin:1%">Add another section</button></td>
								</tr>
							</tbody>
						</table>
 						<table id="editorTable" style="width:100%;">
 							<tbody>
 								<tr id='row-1'>
 									<td>
 										<span class="badge" id="badge1"></span>
 									</td>
 									<td style="vertical-align: middle; padding-left:1%; background-color:white; width:100%;">
 										<div class="text-editor" contenteditable="true" style="white-space: pre-wrap; text-align: left; font-size:16px; word-break: break-all;" class="editor" data-text="Start episode here"><span></span></div>
 									</td>
 									<td style="padding:1%; width:10%; vertical-align:top">
 										<select class="competencies" ng-model="selectedCompetency1"
	 						 			ng-options="c.competencyNumber + ' ' + c.competencyName for c in competencies" ng-change="update()">
				 						 	<option value="" disabled>Select competency</option>
				 						</select>
 									</td>
 									<td style="vertical-align: top; padding:1%;">
 										
 									</td>
 								</tr>
 							</tbody>
 						</table>
 						
 						<div id="end" style="margin-top:3%;">
	 						
	 						
 						</div>
					</div>
					<div id="testInsert">
					</div>
				</div>
				<p></p>
			</div>
		</div>
		<div style="display:none" id="printableTable">
			<table>
				<tbody>
					<tr>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="btn-group-bottom" style="margin-top:2%">
			<table class="table-episode">
				<thead></thead>
				<tbody>
					<tr>
						<td>
							
							<div class="col-xs-6">
							<label>Add attachment</label>
							<input type="file" file-model="myFile" class="form-control" id="attachment">
							<p>Attachment will be uploaded upon saving</p>
							</div>
							<div style="float:right">
							<p ng-repeat="a in careerEpisode.episodeAttachments"><a href="{{a.attachmentFileURL}}">{{a.attachmentFileName}}</a><input type="checkbox" id="{{a.id}}" class="deleteCheckbox">Delete Attachment</button></p></br>
							</div>
						</td>
					</tr>
					<tr>
						<td style="padding:2%">
						<input type="checkbox" id="selectedEpisode" ng-checked="isSelected"> Select career episode for submission</input>
					</td>
					</tr>
					<tr>
						<td style="padding:2%">
						<button class="btn btn-primary" id="buttonSave">Save</button>	
						<button class="btn btn-primary" id="buttonDelete" style="display:none" data-toggle="modal" data-target="#deleteModal">Delete</button>
						<a class="btn btn-primary" href="#home/{{studentId}}">Home</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>	
		<div>
			<div class="panel panel-primary table-competencies">
					<div class="panel-heading title">
						<h3 class="panel-title">Competency Mappings</h3>
					</div>
					<div class="panel-body">
						<table class="table table-bordered table-striped">
							<thead>
									<th ng-show="c.competencyNumber!='None'"ng-repeat="c in competencies">{{c.competencyNumber}}</th>
							</thead>
							<tbody>
									<td ng-show="c.competencyNumber!='None'"ng-repeat="c in competencies"><span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="tickedCompetencies.indexOf(c.competencyNumber)>-1" ></span></td>
							</tbody>
						</table>
					</div>
				</div>
		</div>
	</div>
</div>
<script>
	

	// $('#competency').on('change', function() {
	// 		alert('hello');
	// });
	
	// function applyCompetency(competency)
	// {
	// 	alert('working');
	// 	
	// }


</script>
