<div class="section title">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Practicum Entry {{practicumEntry.data.data.entryNumber}}
								<button class='btn btn-primary help-button' href=""><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></button>
						</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary" style="background-color:#EFEDE3; height:80%">
							<div class="container" style="width:80%; background-color:#EFEDE3;">
								<div id="deleteModal" class="modal" role="dialog">
								  <div class="modal-dialog">
								    <div class="modal-content">
								      <div class="modal-body">
								        <p>Do you want to permanently delete this entry? All associated career episodes will also be permanently deleted.</p>
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
								        <button type="button" class="btn btn-default" id="practicumDelete" data-dismiss="modal">Yes</button>
								      </div>
								    </div>

								  </div>
								</div>
								<div id="saveModal" class="modal" role="dialog">
								  <div class="modal-dialog">
								    <div class="modal-content">
								      <div class="modal-body">
								        <p>Entry has been saved</p>
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-default" id="practicumSave" data-dismiss="modal">Ok</button>
								      </div>
								    </div>

								  </div>
								</div>
								<div id="validationModal" class="modal" role="dialog">
								  <div class="modal-dialog">
								    <div class="modal-content">
								      <div class="modal-body">
								        <p>The following fields must be specified: Name, Start Date, Description, Type, Hours, Supervisor Name and Supervisor Position</p>
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-default" id="episodeSave" data-dismiss="modal">Ok</button>
								      </div>
								    </div>
								  </div>
								</div>
							  <form style="margin:5%"> 
							    <div class="form-group row">
						      		<label class="col-xs-2">Placement Name</label>
			      					<div class="col-xs-10">
							        	<input type="text" class="form-control" id="name" ng-model="formData.entryName">					      	</div>
							  	</div>
						  		<div class="form-group row">
							    	<label class="col-xs-2">Placement Start</label>
							      	<div class="col-xs-10">
							        	<input type="date" class="form-control" id="start" ng-model="formData.entryStartDate">
							     	</div>
							  	</div>
							  	<div class="form-group row">
							      	<label class="col-xs-2">Placement End</label>
							      	<div class="col-xs-10">
							        	<input type="date" class="form-control" id="end" ng-model="formData.entryEndDate">
							      	</div>
							  	</div>
							  	<div class="form-group row">
							      	<label class="col-xs-2">Placement Description</label>
							      	<div class="col-xs-10">
							        	<input type="text" class="form-control" id="description" ng-model="formData.entryDescription">
							      	</div>
							  	</div>
							  	<div class="form-group row">
							      	<label class="col-xs-2">Placement Type</label>
							      	<div class="col-xs-10">
							        	<select class="form-control" ng-model="formData.entryType" ng-options="t for t in practicumTypes" ng-change="typeChange">
							        	</select>
							      	</div>
							  	</div>
							  	<div class="form-group row">
							      	<label class="col-xs-2">Hours Accrued</label>
							      	<div class="col-xs-10">
							        	<input type="text" class="form-control" id="hours" ng-model="formData.entryHoursAccrued">
							      	</div>
							  	</div>
							  	<div class="form-group row">
							      	<label class="col-xs-2">Supervisor Name</label>
							      	<div class="col-xs-10">
							        	<input type="text" class="form-control" id="supervisorName" ng-model="formData.entrySupervisorName">
							      	</div>
							  	</div>
							  	<div class="form-group row">
							      	<label class="col-xs-2">Supervisor Position</label>
							      	<div class="col-xs-10">
							        	<input type="text" class="form-control" id="supervisorPosition" ng-model="formData.entrySupervisorPosition">
							      	</div>
							  	</div>
							  	<div class="form-group row">
							      	<label class="col-xs-2">Certificate of Work</label>
						      		<div class="col-xs-10">
						      			<a href="{{existingFileLink}}">{{existingFileName}}</a>
							        	<input file-model="myFile" type="file" class="form-control" id="attachment">
							      	</div>
							  	</div>
							  	<div style="display:none" ng-model="formData.entryAttachments"></div>
							  </div>
							  </div>
						  	</form>
						</div>
					</div>
						 <div class="btn-group-bottom">
							<button id="buttonSave" class="btn btn-primary title">Save</button>	
							<a class="btn btn-primary title" href="#home/{{studentId}}">Cancel</a>
							<button id="buttonDelete" style="display:none"
							class="btn btn-primary title" data-toggle="modal" data-target="#deleteModal">Delete Entry</button>
						</div>		
					</div>
				</div>
			</div>
		</div>