		<div class="section title">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>EPortfolio Unit Admininistration
								<button class='btn btn-primary help-button' href=""><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></button>
						</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="section marker-main-panel">
			<div class="container">
				<div class="col-md-12 col-amdin">
						<div class="panel panel-primary full-panel">
							<div class="panel-heading title">
								<h3 class="panel-title">Currently Enrolled Students</h3>
							</div>
							<div class="panel-body">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>Selected</th>
											<th>Student Id</th>
											<th>Submitted</th>
											<th>Assigned Marker</th>
											<th>Marked</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="col-checkbox">
										      <input id="studentChecked" type="checkbox"></input>
											</td>
											<td>300000</td>
											<td>12/10/2015</td>
											<td>Assoc. Prof. John Smith</td>
											<td>30/10/2015</td>
										</tr>
										<tr>
											<td class="col-checkbox">
										      <input id="studentChecked" type="checkbox"></input>
											</td>
											<td>300001</td>
											<td>01/11/2015</td>
											<td>Assoc. Prof. John Smith</td>
											<td>04/12/2015</td>
										</tr>
										<tr>
											<td class="col-checkbox">
										      <input id="studentChecked" type="checkbox"></input>
											</td>
											<td>300002</td>
											<td>16/07/2015</td>
											<td>Assoc. Prof. John Smith</td>
											<td></td>
										</tr>
										<tr>
											<td class="col-checkbox">
										      <input id="studentChecked" type="checkbox"></input>
											</td>
											<td>300003</td>
											<td></td>
											<td>Assoc. Prof. John Smith</td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-admin-short">
						<div class="panel panel-primary full-panel">
							<div class="panel-heading title">
								<h3 class="panel-title">Modify Assigned Marker</h3>
							</div>
							<div class="panel-body">
								<table>
									<thead>
									</thead>
									<tbody>
										<tr>
											<td> 
												<p>Select a marker from the dropdown to assign to the students selected above:</p>
											</td>
											<td></td>
											<td>
												<div class="dropdown">
												  <button id="placementType" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Marker
												  <span class="caret"></span></button>
												  <ul class="dropdown-menu">
												    <li><a href="#">Assoc. Prof. Andrew Smith</a></li>
												    <li><a href="#">Dr. Bob Brown</a></li>
												    <li><a href="#">Assoc. Prof. Craig Jones</a></li>
												  </ul>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
									
			</div>
		</div>
	</body>
</html>
<script>
$('#episodeChecked').change(function() {
	if($('#episodeChecked').prop('checked'))
	{
		$('.glyphicon-ok').show();
	}
	else
	{
		$('.glyphicon-ok').hide();
	}
});
</script>




